  <div class="small-1 columns">&nbsp;</div>
	<div class="small-5 columns">&nbsp;</div>
<div class="container">
<h1>New Employees</h1>
</div>
<%= render 'form', employee: @employee %>

<%= link_to 'Back', employees_path %>
