  <div class="small-1 columns">&nbsp;</div>
	<div class="small-5 columns">&nbsp;</div>
<div class="container">
<h1>New Store</h1>
</div>
<%= render 'form', store: @store %>

<%= link_to 'Back', stores_path %>


