<nav class="navbar-inner">  
    
    <a href="/" id="brand-logo">The A&M Creamery</a>
    <img src="/assets/icon.png" id = "icon" width= 50px height= 50px >
    <ul class="right">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/stores" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/stores"> Store List</a>
          <a class="dropdown-item" href="/stores/new">Add Store</a>
          <a class="dropdown-item" href= "/active"> Active Store List</a>
          <a class="dropdown-item" href="/inactive">Inactive Store List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/employees" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Employee
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/employees"> Employees List</a>
          <a class="dropdown-item" href="/employees/new">Add Employees</a>
          <a class="dropdown-item" href= "/active_employees"> Active Employees List</a>
          <a class="dropdown-item" href= "/inactive_employees"> Inactive Employees List</a>
          <a class="dropdown-item" href= "/younger"> 18 or younger</a>
          <a class="dropdown-item" href= "/older"> 18 or older</a>
          <a class="dropdown-item" href= "/regulars"> Employees</a>
          <a class="dropdown-item" href= "/managers"> Managers</a>
          <a class="dropdown-item" href= "/admins"> Admins</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/employees" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Assignments
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/assignments"> Assignments List</a>
          <a class="dropdown-item" href="/assignments/new">Add Assignments</a>
          <a class="dropdown-item" href= "/current"> Current Assignments</a>
          <a class="dropdown-item" href= "/past"> Past Assignments</a>
        </div>
      </li>
    </ul>

</nav>