<nav class="navbar-inner">  
    
    <a href="/" id="brand-logo">The A&M Creamery</a>
    <img src="/assets/icon.png" id = "icon" width= 50px height= 50px >
    <ul class="right">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/store_manager" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/store_manager"> Store List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/employee_manager" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Employee
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/employee_manager"> Employees List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/assignment_manager" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Assignments
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/assignment_manager"> Assignments List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/shift_manager" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shifts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/shift_manager"> Shifts List</a>
          <a class="dropdown-item" href= "/shifts/new">Add Shifts </a>
          <a class="dropdown-item" href= "/shift_jobs"> Shift Jobs List</a>
          <a class="dropdown-item" href="/shift_jobs/new">Add Shift Jobs</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/job_manager" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Jobs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/job_manager"> Jobs List</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/flavor_manager" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Flavor
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/flavor_manager"> Flavor List</a>
          <a class="dropdown-item" href= "/store_flavors"> Store Flavors List</a>
          <a class="dropdown-item" href="/store_flavors/new">Add Flavor to Store</a>
        </div>
      </li>
      <li class="nav-item dropdown">
          <a><%= link_to 'Profile', employee_path(current_user.employee), :id=> "navbarDropdownMenuLink"%> </a> 
      </li>
      <li class="nav-item dropdown">
          <% if logged_in? %>
          <a class="nav-link" href="/logout" id="navbarDropdownMenuLink">
          Logout
          </a>
          <% else %>
            <a class="nav-link" href="/login" id="navbarDropdownMenuLink" >
          Login
          </a>
          <% end %>
        </a>
      </li>
    </ul>

</nav>