
	<div class= "center">

		
		<div id= "about"></div>
		<di id="about-us"><h1>WELCOME TO</h1>
		 The Amazing & Marvelous Creamery<br />
		 <a href="#" role="button" class="btn btn-info btn-lg" id="btn">About Us</a>
		 <a href="#" role="button" class="btn btn-info btn-lg" id="btn">Contact Us</a>
		 </div>
		 
		<img src="/assets/ice-cream.jpg" id = "about_image" width= 100% height= 800px >

</div>

	