$primary-color: #90caf9;
$button-height: 26px;
$table-striped-color: #eceff1;
#toast-container { left:1%;
right: auto !important;}

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize";